.list {
  width: 20vw;
  height: 40vh;
  list-style-type: none;
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
}

.imageList {
  width: 20vw;
  height: 30vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
}
